@import url("https://fonts.googleapis.com/css?family=Pacifico|Lato|Dosis");

body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
  font-weight: 900;
  color: #342b46;
  margin-bottom: 0.5em;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-family: "Pacifico", cursive;
  -webkit-text-stroke: 0;
  color: #6e4de6;
  font-weight: 400;
}

.services__card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 5px solid #6e4de6;
  transition: 250ms all ease-in-out;
  opacity: 0;
}
.services__card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.services__card:hover::before {
  opacity: 1;
}




/* explore the style in here */

.services a {
  text-decoration: none;
  color: inherit;
}
.services__card {
  position: relative;
  width: 95%;
  transition: 150ms all ease-out;
}
.services__card__img-wrapper {
  margin: 35px auto;
}
.services__card__detail {
  line-height: 1.5em;
  size: 1em;
  margin-top: 1.5rem;
  color: #675686;
}
