@import url("https://fonts.googleapis.com/css?family=Pacifico|Lato|Dosis");

body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dosis", sans-serif;
  font-weight: 900;
  color: #342b46;
  margin-bottom: 0.5em;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-family: "Pacifico", cursive;
  -webkit-text-stroke: 0;
  color: #6e4de6;
  font-weight: 400;
}

.about__founder {
  display: block;
  width: 85%;
  padding: 40px;
  margin: 0 auto;
  text-align: center;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.about__founder__caption {
  font-size: 1.1em;
  -webkit-text-stroke-width: 0.4px;
  color: #3d4246;
  margin: 30px 35px;
}
.about__founder__name {
  font-size: 1.4em;
  font-weight: 600;
}
.about__founder__img-wrapper {
  width: 100px;
  padding: 20px;
  border: 1px solid #6e4de6;
  border-radius: 100px;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  .about {
    text-align: center;
  }
  .about .btn {
    width: 100%;
    display: block;
  }
  .about__founder {
    width: 100%;
    padding: 40px 20px;
  }
  .about__founder__caption {
    margin-right: 0;
    margin-left: 0;
  }
}